@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --bg-color: #151515;
    --bg-color-light: #202022;

    --text-1: #d4d4d4;
    --text-2: #8C8C8C;
    --text-3: #5B5B5B;
}

* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

h1,
h2,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-2);
}

.project-card {
    background-color: var(--bg-color-light);
    transition: 0.2s ease-in-out;
}

.first {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}



/*Font sizes*/
.f1 {
    font-weight: 700;
    color: var(--text-1);
}

.f2 {
    font-weight: 400;
    color: var(--text-2);
}


.f4 {
    font-weight: 300;
    color: var(--text-3);
}

.c-sub {
    font-weight: 200;
    color: var(--text-2);
}

.c-head {
    font-weight: 400;
    color: var(--text-1);
}

.c-desc {
    font-weight: 200;
    color: var(--text-3);
}

.c-stat-g {
    font-weight: 400;
    color: rgb(31, 112, 31);
}

.c-stat-b {
    font-weight: 400;
    color: rgb(177, 33, 81);
}

@media (min-width:992px) {
    .f1 {
        font-size: 3rem;
    }

    .f2 {
        font-size: 2rem;
    }

    .f4 {
        font-size: 1.25rem;

    }

    .c-sub {
        font-size: 1.25rem;
    }

    .c-head {
        font-size: 1.5rem;
    }

    .c-desc {
        font-size: 1.25rem;
    }

    .c-link {
        font-size: 1rem;
    }

    .c-stat-g {
        font-size: 1.25rem;
    }

    .c-stat-b {
        font-size: 1.25rem;
    }

    .prof {
        max-width: 65px;
        max-height: 65px;
        border-radius: 50%;
    }

    .ic {
        max-width: 30px;
        max-height: 30px;
    }

    .bio {
        max-width: 600px;
    }

    .project-card:hover {
        transform: scale(1.1);
        transition: 0.2s ease-in-out;
        border: solid 0.5px rgba(128, 128, 128, 0.212);
        -webkit-box-shadow: 30px -34px 7px -1px rgba(21, 21, 21, 0.7);
        -moz-box-shadow: 30px -34px 7px -1px rgba(21, 21, 21, 0.7);
        box-shadow: 30px -34px 7px -1px rgba(21, 21, 21, 0.7);
    }

    .first {
        height: 90vh;
    }
}

@media (max-width:991px) {
    .first {
        height: 90vh;
    }

    .first,
    .second {
        position: static;
        max-width: 100%;
        padding: 0rem;
    }


    .f1 {
        font-size: 2rem;

    }

    .f2 {
        font-size: 1.5rem;

    }

    .f4 {
        font-size: 1.2rem;

    }

    .c-sub {
        font-size: 1rem;

    }

    .c-head {
        font-size: 1.5rem;

    }

    .c-desc {
        font-size: 1rem;

    }

    .c-link {
        font-size: 1rem;
    }

    .c-stat-g {
        font-size: 1rem;

    }

    .c-stat-b {
        font-size: 1rem;
    }

    .prof {
        max-width: 60px;
        max-height: 60px;
        border-radius: 50%;
    }

    .ic {
        max-width: 25px;
        max-height: 25px;
    }

}